# Project exclude paths
/venv/
/NoteBooks/data/
NoteBooks/data/ladec.csv
glove.6B.zip
/.
/NoteBooks/data/glove.6B.50d.txt
/NoteBooks/data/glove.6B.100d.txt
/NoteBooks/data/glove.6B.200d.txt
/NoteBooks/data/glove.6B.300d.txt
/glove.6B.zip
/NoteBooks/data/ladec.csv
